:root {
	--textBlack: #2a2a2a;
	--black: #000000;
	--white: #ffffff;
	--headerMargin: 40px;
	--sectionMargin: 40px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	background-image: url(../images/bg-pexels_jeffrey_czum_2120084.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: grid;
	align-items: center;
	justify-content: center;
}

#background_blur {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100vh;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	z-index: -1;
}

body p {
	font-size: 14px;
}

section {
	padding: 20px 0;
	max-width: 1280px;
}

a {
	cursor: pointer;
}

h1 {
	color: var(--textBlack);
	font-size: 42px;
	font-weight: bold;
	font-family: 'Bebas Neue', sans-serif;
	background-color: var(--white);
}

h2 {
	font-size: 28px;
	font-weight: bold;
}

h3 {
	font-size: 22px;
}

header {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

header h1 {
	color: var(--textBlack);
	background-color: white;
	padding: 10px 10px 10px var(--headerMargin);
}

.nav-container {
	margin-right: var(--headerMargin);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-container ul {
	display: flex;
}

.nav-container ul li {
	margin: 5px;
	font-size: 18px;
}

.nav-container ul li a {
	border-bottom: 3px solid transparent;
}

.nav-container ul li:nth-child(odd) a:after {
	display: block;
	content: '';
	background: none repeat scroll 0 0 var(--white);
	height: 2px;
	width: 0;
	transition: all 0.3s ease-out;
}

.nav-container ul li:nth-child(even) a:after {
	display: block;
	content: '';
	background: none repeat scroll 0 0 var(--black);
	height: 2px;
	width: 0;
	transition: all 0.3s ease-out;
}

.nav-container ul li a:hover:after {
	width: 100%;
}

#keyvisual {
	position: relative;
	height: 200px;
}

#keyvisual h2 {
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	padding: 10px var(--headerMargin) 10px 10px;
	right: 2%;
	bottom: 20%;
	z-index: 1;
}

.keyvisual-content {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-image: url(../images/key_visual02-pexels-henry-&-co-1464474.jpeg);
	background-size: contain;
	background-position: left;
}

.flex-container {
	display: flex;
}

.flex-container .content-title {
	text-align: right;
	margin-left: 100px;
	padding-right: 20px;
	border-right: 3px solid var(--textBlack);
}

.flex-container .content-title h2 {
	width: 150px;
	font-size: 42px;
}

#aboutme .content {
	display: flex;
	margin-right: var(--sectionMargin);
}

#aboutme .content figure img {
	width: 200px;
	height: 200px;
	margin-left: 10px;
}

#aboutme .content p {
	padding-left: 20px;
}

#work .grid-container {
	display: grid;
	width: 80%;
	margin: 0 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 200px 200px 200px;
	grid-template-areas:
		'item1 item1'
		'item2 item3'
		'item4 item5'
		'item6 item7';
}

.grid-inner {
	margin: 10px;
	border: 3px solid var(--white);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

.grid-inner a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	background-color: transparent;
}

.grid-inner a:hover {
	cursor: pointer;
	background-color: var(--white);
	opacity: 0.7;
	transition: all 0.2s ease-out;
}

.grid-inner a.maintenance:hover {
	cursor: not-allowed;
	background-color: var(--black);
	opacity: 0.9;
}

#item1 {
	grid-area: item1;
	height: 400px;
	background-image: url(../images/onescene.png);
}

#item2 {
	grid-area: item2;
	background-image: url(../images/miseenscene.png);
	background-position: center;
}

#item3 {
	grid-area: item3;
	background-image: url(../images/suiki_hp.png);
}

#item4 {
	grid-area: item4;
	background-image: url(../images/esquisse_top.png);
}

#item5 {
	grid-area: item5;
	background-image: url(../images/pips.png);
}

#item6 {
	grid-area: item6;
	background-image: url(../images/enConnect_top.png);
}

#item7 {
	grid-area: item7;
	background-image: url(../images/markupDR-parts.png);
}

.work-container {
	display: block;
	width: 250px;
	margin-bottom: 20px;
	border-radius: 2px;
	box-shadow: 0px 20px 60px #bebebe, 47px 20px 137px var(--black);
	background: rgba(255, 255, 255, 0.9);
	padding: 10px 0 10px 20px;
}

#contactme .content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contactme .content ul {
	display: flex;
	width: 100%;
	margin-right: var(--sectionMargin);
	justify-content: space-between;
}

#contactme .content ul li {
	margin: 0 auto;
}

#contactme .content ul li:nth-child(odd) a {
	border-bottom: 3px solid var(--black);
}

#contactme .content ul li:nth-child(even) a {
	border-bottom: 3px solid var(--white);
}

#contactme .content ul li:nth-child(odd) a:hover {
	border-bottom: 3px solid var(--white);
	transition: all 0.3s ease-out;
}

#contactme .content ul li:nth-child(even) a:hover {
	border-bottom: 3px solid var(--black);
	transition: all 0.3s ease-out;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

/* tablet */
@media screen and (max-width: 820px) {
	body {
		display: block;
	}
	.nav-container {
		display: none;
	}
	.flex-container {
		flex-direction: column;
	}

	.flex-container .content-title {
		text-align: left;
		margin: 20px;
		border-right: none;
	}
	.flex-container .content-title h2 {
		display: inline-block;
		width: auto;
		border-bottom: 2px solid var(--textBlack);
		font-size: 32px;
	}
	#aboutme .content p {
		font-size: 16px;
	}

	#work .grid-container {
		margin: 0;
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'item1'
			'item2'
			'item3'
			'item4'
			'item5'
			'item6'
			'item7';
	}
	#contactme .content ul {
		margin-right: 0;
	}
}

/* mobile */
@media screen and (max-width: 420px) {
	#keyvisual {
		padding: 0;
	}
	#aboutme .content {
		flex-direction: column;
		margin: 5px;
	}

	.flex-container .content-title h2 {
		font-size: 24px;
	}

	#aboutme .content figure img {
		margin: 10px;
	}

	#aboutme .content p {
		margin: 0;
		padding-left: 10px;
		font-size: 18px;
	}

	#contactme .content ul {
		flex-direction: column;
	}

	#contactme .content ul li {
		margin: 10px 10px;
		padding-left: 10px;
	}
}
